.env
.env.*
!.env.example

.git
.gitignore

node_modules
vendor

*.odx
index_dashboard_backup.txt

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

tests
CBM_Backup

npm-debug.log
composer.phar